{% extends 'flatpages/default.html' %}

{% load custom_filters %}

{% block title %}
News
{% endblock title %}

{% block content %}
   <h1>Все новости</h1>
   <hr>
   {% if news %}
       <table>
           <tr>
               <td>Название</td>
               <td>Описание</td>
               <td>Время</td>
           </tr>
           {% for post in news %}
           <tr>
               <td>{{ post.name }}</td>
               <td>{{ post.description|currency|truncatechars:20 }}</td>
               <td>{{ post.date|date:'h:s d M Y' }}</td>
           </tr>
           {% endfor %}
       </table>
   {% else %}
       <h2>Новостей нет!</h2>
   {% endif %}
{% endblock content %}
